body {
    background-color: #232b2b;
}

.main-content {
    margin-top: 8em;

    #sass-color {
        color: rgb(255, 94, 121);
    }

    #bulma-color {
        color: rgb(43, 168, 43);
    }

    .item-title{
        margin-top: 4em;
    }
}